/* Modo claro */
[data-bs-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #31231a;
  --sidebar-bg: #940e01;
  --accent-color: #0e432f;
  --header-bg: #1a754f;
  --header-text: #ffffff;
  --btn-text-color: #ffffff; 
  --hover-bg: #0e432f; 
  --sidebar-text-color: #f0ffff; 
  --plot-title-color: #0e432f; 
}

/* Modo escuro */
[data-bs-theme="dark"] {
  --bg-color: #31231a;
  --text-color: #ffffff;
  --sidebar-bg: #940e01; 
  --accent-color: #1a754f;
  --header-bg: #0e432f;
  --header-text: #ffffff
  --btn-text-color: #ffffff;
  --hover-bg: #1a754f; 
  --sidebar-text-color: #ffffff; 
  --plot-title-color: #1a754f; 
}

@font-face {
  font-family: 'Phenomena';
  src: url('Phenomena-ExtraBold.otf') format('opentype');
  font-weight: bold;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h1, h2, h3, .titulo-app {
  font-family: 'Phenomena', sans-serif;
  font-weight: bold;
}

#logo-fixo {
  height: 120px;
  opacity: 0.9;
  transition: 0.3s;
}

#logo-fixo:hover {
  opacity: 1;
}

.navbar { 
  background-color: var(--header-bg); 
  color: (--header-text);
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #ffffff;
  background-color: var(--hover-bg);
}

/*Titulo*/
.titulo-app {
  color: var(--header-text); 
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

table {
  font-size: 10px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}