/* Modo claro */
[data-bs-theme="light"] {
  --bg-color: #ffffff;
  --sidebar-bg: #940e01;
  --sidebar-text-color: #ffffff; 
  --accent-color: #0e432f;
  --btn-text-color: #ffffff;
  --hover-bg: #1a754f;
  --text-color: #31231a;
  --plot-title-color: #0e432f; 
}

/* Modo escuro */
[data-bs-theme="dark"] {
  --bg-color: #31231a;
  --sidebar-bg: #940e01;
  --sidebar-text-color: #ffffff;
  --accent-color: #1a754f;
  --btn-text-color: #ffffff;
  --hover-bg: #0e432f;
  --text-color: #ffffff;
  --plot-title-color: #1a754f;
}

.sidebar {
  background-color: var(--sidebar-bg);
  border-radius: 18px;
  padding: 20px;
  width: 350px;
  align-items: center;
  margin-bottom: 20px;
}

.titulo-sidebar{
  color: var(--sidebar-text-color);
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.painel-arquivos {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: 0;
}

.linha-arquivos {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.coluna-arquivo {
  display: flex;
  flex-direction: column;
}

/*Botão de seleção de pasta*/
.botao-diretorio{
  background-color: var(--accent-color);
  color: var(--btn-text-color);
  border-radius: 15px;
  border: none;
  transition: 0.1s;
}

.botao-diretorio:hover{
  background-color: var(--hover-bg);
  color: var(--btn-text-color);
}

/*botão de input de arquivo*/
.botao-arquivo .btn-file {
  background: var(--accent-color);
  color: var(--btn-text-color);
  border-radius: 10px;
  border: none;
  transition: 0.1s;
}

.botao-arquivo .btn-file:hover {
  background-color: var(--hover-bg);
  color: var(--btn-text-color);
}

.botao-arquivo .form-control {
  border-radius: 10px;
  background-color: var(--bg-color);
  border: none;
}

.botao-arquivo input[type="file"] {
  display: none;
}

.message-input{
  font-weight: normal;
  font-size: 12px;
  color: var(--sidebar-text-color);
}

.shiny-file-input-progress {
  background-color: var(--sidebar-bg)
  height: 5px; 
  font-size: 12px;
  border-radius: 0;
  margin-top: 1px;
}

.shiny-file-input-progress .progress-bar {
  background-color: var(--accent-color); 
  border-radius: 5px;
  transition: width 0.5s ease;
}

/*Botão para rodar o controle de qualidade e trimagem*/
.btnQA-custom {
  background-color: var(--accent-color);
  color: var(--btn-text-color);
  text-align: center;
  border-radius: 15px;
  border: none;
  transition: 0.1s;
  padding: 10px 16px;
  font-weight: normal;
  transition: background-color 0.3s ease;
}

.btnQA-custom:hover {
  background-color: var(--hover-bg);
  color: var(--btn-text-color);
}

/* Animação de 'carregando' ao rodar o QC */
.loading_animation {
  border: 5px solid var(--text-color);
  border-top: 5px solid var(--accent-color); 
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 10px auto;
  display: none;
}

/*Config da animação*/
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Seleção de paleta de cores */
.botao-cor {
  background-color: transparent;
}

.botao-cor .selectize-input {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
}

.botao-cor .selectize-dropdown .option {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
}

.botao-cor .selectize-dropdown .option:hover {
  background-color: var(--accent-color);
  color: var(--sidebar-text-color);
}

.botao-cor:hover {
  background-color: transparent;
}

/*Titulo dos plots*/
.titulo-plots{
  color: var(--plot-title-color);
  margin-bottom: 20px;
}

#qa_output {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #865F46;
  z-index: 9999;
  font-weight: bold;
  background-color: var(--bg-color);
  color: var(--text-color);
}