/* Modo claro */
[data-bs-theme="light"] {
  --sidebar-bg: #940e01;
  --btn: #0e432f;
  --btn-hover: #1a754f;
  --sidebar-text-color: #ffffff; 
}

/* Modo escuro */
[data-bs-theme="dark"] {
  --sidebar-bg: #940e01; 
  --btn: #1a754f;
  --btn-hover: #0e432f;
  --sidebar-text-color: #ffffff; 
}

.sidebar-trim {
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text-color);
  border-radius: 18px;
  padding: 20px;
  width: 600px;
  align-items: center;
  margin-bottom: 20px;
}

.trim-main-panel {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100%; 
  text-align: center;
}

.btn-trim-download {
  background-color: var(--btn);
  border: none;
  color: var(--sidebar-text-color);
  border-radius: 6px;
}

.btn-trim-download:hover {
  background-color: var(--btn-hover);
  border: none;
  color: var(--sidebar-text-color);
  border-radius: 6px;
}

.coluna {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.lado-lado {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.lado-lado .form-group {
    flex: 1;
}

.info-icon {
  padding: 0;
  border: none;
  background: transparent;
  color: var(--sidebar-text-color);
}

.info-icon:hover {
  color: var(--btn-hover);
}